prototype/src/_modules/molecules/accordion/accordion.pug
mixin accordion(spec)
  - site = htmlWebpackPlugin.options
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .accordion(class=spec.__class)&attributes(attributes)
    .accordion__title
      p=spec.title
    .accordion__content
      block

build/Website/GridSystem/Templates/accordion.html
﻿<div class="accordion">
    <div class="sf_colsIn accordion__title" data-placeholder-label="Accordion Title" data-sf-element="Accordion Title">

    </div>
    <div class="sf_colsIn accordion__content" data-placeholder-label="Accordion Content" data-sf-element="Accordion Content">

    </div>
</div>
